[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.9.0"
django = "*"
django-heroku = "*"
psycopg2 = "*"
whitenoise = "==5.1.0"

[dev-packages]

[requires]
python_version = "3.8"
